@import "../index.css";

.status {
    background-color: var(--darker);
    border: 1px solid var(--medium);
    border-radius: 5px;
    padding: 0 20px 20px 20px;
    text-align: center;
    flex: 1;
}

.board {
    background-color: var(--light);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2px;
}

.status-title {
    margin: 0 0 15px 0;
    padding: 5px;
    border-bottom: 1px solid var(--medium);
}

.status-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 10px;
}

.restart-button {
    margin-top: 10px;
    color: var(--dark-text);
    background-color: var(--darker);
    border: 1px solid var(--medium);
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.restart-button:hover {
    background-color: var(--medium);
    color: var(--light-text);
}
