.online-container {
    display: grid;
    grid-template-columns: 63% 1fr;
    grid-gap: 5px;
}

.main-game {
    background-color: var(--darker);
    border: 1px solid var(--medium);
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.board-online {
    border: 2px solid transparent;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    transition-duration: 0.5s;
}

.square-online {
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    transition-duration: 0.5s;
}

.l {
    border-left: 1px solid var(--light);
}

.r {
    border-right: 1px solid var(--light);
}

.b {
    border-bottom: 1px solid var(--light);
}

.t {
    border-top: 1px solid var(--light);
}

.board-playable {
    border: 2px solid var(--medium);
}

.playable-online {
    cursor: pointer;
}

.playable-online:hover {
    background-color: var(--light);
}

.player-info {
    background-color: var(--darker);
    border-radius: 5px;
    border: 1px solid var(--medium);
    text-align: center;
    margin-bottom: 5px;
}

.name {
    font-weight: normal;
}

.name-playing {
    font-weight: bold;
}

.game-info-online {
    background-color: var(--darker);
    border-radius: 5px;
    border: 1px solid var(--medium);
    text-align: center;
    margin-bottom: 5px;
}

.info-table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.table-element {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-info-online {
    background-color: var(--darker);
    border-radius: 5px;
    border: 1px solid var(--medium);
    text-align: center;
    padding-bottom: 10px;
}
