@import "../index.css";

.development {
    background-color: var(--darker);
    border: 1px solid var(--medium);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
}
